<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="API Docs">
    <meta name="description" content="I made an API using express">
    <title>Mioun Api</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h3>This is an API made by <a href="https://github.com/Syrup">Me</a>
    <p><%= api["/trakteer"] %></p>
  </body>
</html>